<!DOCTYPE html>
<html lang="en">
<head>
    <title>new</title>
</head>
<body>
<form action="/pokemon" method="POST">
    <input type="text" name="name" value="name"><br>
    <input type="text" name="img" value="image url"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>