<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>

<%=JSON.stringify(pokemon)%>
        <form method="POST" action="<%=index%>?_method=DELETE">
            <button type="submit">Delete resource</button>
        </form>

</body>
</html>